<!DOCTYPE html>
<html lang="en">
<head>
{{> headCDN}}
	<title>Profile</title>
</head>
<body>
	{{> navPartial}}
	<h1 class='head-h1'>Helloo {{user.username}}</h1>

	{{#each user.events}}
        <div class="col-md-3">
          <div class="thumbnail">
            <img src="{{imgurUrl}}" alt='default-img' class='img-responsive profile-pic'>
            <hr>
            <h3>{{title}}</h3>
            <p>{{placeName}}</p>
            <p>{{placeAddress}}</p>
            <p>{{postalCode}}</p>
            <a href='{{siteurl}}'>Tickets here</a>
            <p> taking description out for now </p>
            <hr>
            <p><a href="#" class="btn btn-sm btn-primary">More Info</a>
            <a href="#" class="btn btn-sm  fav-event" id="\{{id}}">Remove</a></p>
          </div>
        </div>
        {{/each}}
<section>
  <div id='map'></div> 
</section>
{{> endCDN}}
</body>
</html>